In [ ]:
age=18
print(age)

18

In [ ]:
name="Avichal Jain"
Rollno = 200020035
print (name + " " , Rollno)

Avichal Jain  200020035

In [ ]:
name = input()
print ('Hello,' , name)

Avichal
Hello, Avichal

In [ ]:
num1=2
num2=6
print (num2/num1)

3.0

In [ ]:
num1=2
num2=7
print (num2//num1)

3

In [ ]:
num1=2
num2=7
print (num2**num1)

49

In [ ]:
y=0
for x in range(0,5):
    y=y+2
    print(y)

2
4
6
8
10

In [ ]:
text = input('Enter something : ')
print (text.strip())
print (text.split('1'))

Enter something : My name is 1Avichal Jain
My name is 1Avichal Jain
['My name is ', 'Avichal Jain']

In [ ]:
fruits = []
for x in range(0,3):
    fruits.append(input ('Enter a fruit : '))
print (fruits)

Enter a fruit : Apple
Enter a fruit : Strawbery
Enter a fruit : Blueberry
['Apple', 'Strawbery', 'Blueberry']

In [ ]:
a=set()
a.add(10)
a.add(20)
print(a)
a.update([101,102,103])
print(a)
a.update('Avi')
print(a)

{10, 20}
{101, 102, 103, 10, 20}
{'A', 'v', 101, 102, 103, 'i', 10, 20}

In [ ]:
a={1,3,5,7,9}
for i in a:
    print(i, end='')

13579

In [ ]:
a= {'course':'Python', 'fees': 15000 , 1: {'course':'Java script', 'fees': 10000 }}
for i in a:
    print(i)
for j in a[1]:
       print(j)

course
fees
1
course
fees

In [ ]:
from array import *
marks = array('i', [95,95,97,98,99])
print ('Before insertion : ', end=' ')
for i in range(5):
    print(marks[i], end=' ')
print()
marks.insert(2,0)
print ('After insertion : ', end=' ')
for i in range(6):
    print(marks[i], end=' ')

Before insertion :  95 95 97 98 99
After insertion :  95 95 0 97 98 99

In [ ]:
from array import *
marks = array('i', [95,95,97,98,99])
print (marks[2:4])
print(marks[::-1])

array('i', [97, 98])
array('i', [99, 98, 97, 95, 95])

In [ ]:
import numpy
a=numpy.array([1,2,3])
print(a)
print(a[2])
print(numpy.arange(2,7))
l = range(2,7,2)
print(l,l[1])

[1 2 3]
3
[2 3 4 5 6]
range(2, 7, 2) 4